@model WebAppControleRestaurante.Models.PagtoMesaModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PagtoMesaModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cliente" class="control-label">Nome do cliente</label>
                <input asp-for="Cliente" class="form-control" />
                <span asp-validation-for="Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumMesa" class="control-label">Número da mesa</label>
                <input asp-for="NumMesa" class="form-control" />
                <span asp-validation-for="NumMesa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValConsumo" class="control-label">Valor do consumo</label>
                <input asp-for="ValConsumo" class="form-control" />
                <span asp-validation-for="ValConsumo" class="text-danger"></span>
            </div>
            @{
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary ">Fechar mesa</button>
                    <a class="btn btn-secondary" asp-controller="PagtoMesa" asp-action="Index" role="button">Voltar</a>
                </div>
            }
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
