@model WebAppControleRestaurante.Models.PagtoMesaModel

@{
    ViewData["Title"] = "Apagar pagamento";
}

<h1>Apagar pagamento da mesa</h1>

<h3>Confirma?</h3>
<div>
    <h4>Você está prestes a apagar o pagamento abaixo:</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="Cliente" class="control-label">Nome do cliente</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="NumMesa" class="control-label">Número da mesa</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumMesa)
        </dd>
        <dt class="col-sm-2">
            <label asp-for="ValConsumo" class="control-label">Valor do consumo</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValConsumo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar pagamento" class="btn btn-danger" />
        <a class="btn btn-secondary" asp-controller="PagtoMesa" asp-action="Index" role="button">Voltar</a>
        
    </form>
</div>
