@model WebAppControleRestaurante.Models.PagtoMesaModel

@{
    ViewData["Title"] = "Editar pagamento";
}

<h1>Editar pagamento</h1>

<h4>PagtoMesaModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Cliente" class="control-label"></label>
                <input asp-for="Cliente" class="form-control" placeholder="Nome do cliente" />
                <span asp-validation-for="Cliente" class="text-danger"></span>
                @Html.ValidationMessageFor(x =>x.Cliente)
            </div>
            <div class="form-group">
                <label asp-for="NumMesa" class="control-label"></label>
                <input asp-for="NumMesa" class="form-control" placeholder="Número da mesa" />
                <span asp-validation-for="NumMesa" class="text-danger"></span>
                @Html.ValidationMessageFor(x =>x.NumMesa)
            </div>
            <div class="form-group">
                <label asp-for="ValConsumo" class="control-label"></label>
                <input asp-for="ValConsumo" class="form-control" placeholder="Valor do consumo" />
                <span asp-validation-for="ValConsumo" class="text-danger"></span>
                @Html.ValidationMessageFor(x =>x.ValConsumo)
            </div>
            @{
            <div class="d-grid gap-2">
                 <button type="submit" class="btn btn-primary ">Alterar Pagamento</button>
                 <a class="btn btn-secondary" asp-controller="PagtoMesa" asp-action="Index" role="button">Voltar</a>
            </div>
            }
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
